<!DOCTYPE html>
<html>
<head>
    <title>Karen Nemeth's Portfolio</title>
    <link text="text/css" rel="stylesheet" href="{{css}}"/>
</head>
<body>
    {{>header}}
    {{{body}}}
    {{#if description}}
        {{>description}}
    {{/if}}
</body>
</html>
